CLOUDINARY_CLOUD_NAME=da0tlzlo2
CLOUDINARY_API_KEY=645975258331125
CLOUDINARY_API_SECRET=-qy4oi_R1SxjzZGlSV7aG7uZBMw

MONGODB_URI=mongodb+srv://spirit:spirit@spirit.fbhpgfk.mongodb.net
JWT_SECRET_KEY = spirit123devgitsharshch@iiitdwd